<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="spectralleap.com" value="https://nexus.spectralleap.com/repository/nuget-public/" />
    </packageSources>
    <packageSourceMapping>
        <packageSource key="spectralleap.com">
            <package pattern="Truss.*" />
        </packageSource>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>